name: "Build Android app"

on:
  workflow_run:
    workflows: ["Lint"] # This should match exactly the name in lint_and_test.yml
    types:
      - completed
    branches: [main] # Optional: specify which branches to run on
  pull_request:
    types:
      - labeled
  workflow_dispatch:

jobs:
  build:
    if: |
      (github.event.workflow_run.conclusion == 'success') || 
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'build-android'))
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt
          cache: gradle

      - name: Run Yarn Install
        run: |
          npm i -g corepack
          corepack enable
          corepack prepare yarn@4.4.0 --activate
          yarn install

      - name: Run Expo prebuild
        run: npx expo prebuild --clean

      - name: Build application
        run: |
          cd android
          ./gradlew assembleRelease
        env:
          GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false"

      - name: Upload application
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: android/app/build/outputs/apk/release/app-release.apk
          retention-days: 7 # Increased from 3
