name: "Pull Request CI"

on:
  pull_request:
    branches:
      - main

jobs:
  lint_and_test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Enable and prepare Corepack
        run: |
          corepack enable
          corepack prepare yarn@3.6.3 --activate
          yarn --version
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'yarn'
      - name: Install deps
        run: yarn install --immutable
      - name: Lint
        run: |
          yarn eslint . --rule "import/order: off"
      - name: Test
        run: yarn test

  build:
    name: Build Android App
    needs: lint_and_test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt
          cache: gradle

      - name: Run Yarn Install
        run: |
          npm i -g corepack
          corepack enable
          corepack prepare yarn@3.6.3 --activate
          yarn install

      - name: Run Expo prebuild
        run: npx expo prebuild --clean
        
      - name: Build application
        run: |
          cd android
          ./gradlew assembleRelease
        env:
          GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false"

      - name: Upload application
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: android/app/build/outputs/apk/release/app-release.apk
          retention-days: 7